set android_sdk_root=E:\adt-bundle-windows-x86_64-20140321\sdk
set ndk_root=E:\SDK\android-ndk-r9d
set ant_root=E:\SDK\apache-ant-1.9.4\bin
set path=%path%;E:\cocos2d-x-3.1.1\external\lua\luajit\src\src
set lua_path=%lua_path%;E:\cocos2d-x-3.1.1\external\lua\luajit\src\src\?.lua
